@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #eee;
    position: relative;
    min-height: 100vh;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h1, h2 {
    color: #222;
}

h1{
    text-align: center;
    padding: 30px;
    font-size: 80px;
    font-weight: 500;
}

.game-boards{
    display: flex;
    justify-content: space-around;
    padding-bottom: 60px;
}

h2{
    font-weight: 300;
    text-align: center;
}

.game-board{
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border: 1px solid #222;
}

.grid{
    border: 0.5px solid #222;
    cursor: pointer;
}

.grid.active {
    background-color: rgb(67, 65, 65);
}

.grid.hit{
    background-color: #ff8585;
    cursor: not-allowed;
}

.grid.missed {
    background-color: #85ffb3;
    cursor: not-allowed;
}

.enemy .grid:hover {
    background-color: #ddd;
}

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transition: 200ms ease-in-out;
    z-index: 2;
    background-color: #eee;
    text-align: center;
    padding: 30px;
}

.welcome_modal{
    transform: translate(-50%, -50%) scale(1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 350px;
    height: 500px;
}

.welcome_modal .heading{
    font-weight: 600;
}

.welcome_modal p {
    font-size: 22px;
}

.welcome_modal .game-board{
    width: 300px;
    height: 300px;
}

#welcome_modal.inactive{
    transform: translate(-50%, -50%) scale(0);
}

.green {
    background-color: #85ffb3;
}

.status_modal{
    transform: translate(-50%, -50%) scale(0);
    width: 400px;
    height: 250px;
    border-radius: 10px;
}

#modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.game__status{
    font-size: 40px;
}

.play__btn{
    cursor: pointer;
    font-size: 24px;
    background-color: #222;
    color: #eee;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 8px 16px;
}

.play__btn:hover{
    transform: scale(1.03);
}

#overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 200ms ease-in-out;
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}